style.css

@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url("components/logo.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/secondpart.css");
@import url("components/footer.css");
@import url("components/centerpixel.css");
@import url("components/animation.css");

body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333333;
    font-size: 16px;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

div{
  display: block;
}

a{
  text-decoration: none;

}
a:hover{
  text-decoration: none;
  color: white;
}

#appMountPoint{
  background-color: #000000;
}

.our-story-container{
  width: 100%;
  overflow-x: hidden; /* Propriétés de base */
}

.our-story-cards{
  margin: 0 auto;
}

.hero-card.vlv .our-story-card-background .concord-img-wrapper {
    bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0; }

h1{
  font-size: 2.5rem;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media screen and (min-width: 740px){
    h1 {
    font-size: 38px;
}
}


h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
} 

@media screen and (min-width: 740px)
h3 {
    font-size: 23px;
}

label {
    cursor: default;
}

@media screen and (min-width: 740px)
.nfInput.nfInputResponsive .nfTextField {
    height: 60px;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    line-height:normal;  }

    button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

@media only screen and (min-width: 550px) and (max-width: 949px){
    #AppMountPoint{
        
    }
}